<div id="smoke-bkg" class="fixed top-0 h-screen w-screen -z-10"></div>

<script>
  import * as THREE from "three";  
  const $bkg = document.getElementById("smoke-bkg");

  let w = window.innerWidth;
  let h = window.innerHeight;

//inicializar Three.js
// 3 requisitos minimos, cámara, escena, renderizador

//Escena
const scene = new THREE.Scene();

//Cámara
//75 --> Ángulo de visión
const camera = new THREE.PerspectiveCamera(75, w / h, 1, 1000);
camera.position.z = 10;
scene.add(camera);


//Renderizador
const renderer = new THREE.WebGLRenderer();
renderer.setSize(w, h);
renderer.setClearColor(0x333333, 1);

$bkg?.appendChild(renderer.domElement);

//Añadir una luz direccional
const light = new THREE.DirectionalLight(0xffffff, 0.5)
light.position.set(-1, 3, 1)
scene.add(light)

//Ayuda a posicionar la luz
// const helper = new THREE.DirectionalLightHelper(light, 5)
// scene.add(helper)

//Para crear un objeto necesitamos 3 cosas

//1. Geometria

//2. Material

//3. Malla(mesh)

const smokeParticles: THREE.Mesh[] = []

const loader = new THREE.TextureLoader()
loader.crossOrigin = "" // <-- en localhost no pasa nada, pero
//si desplegamos a un servidor, puede ser necesario

loader.load("smoke.webp", (texture) => {
  // Crear un plano geométrico de 300x300
  const smokeGeo = new THREE.PlaneGeometry(300, 300);

  const smokeMaterial = new THREE.MeshLambertMaterial({
    map: texture,
    transparent: true
  })

  const NUM_OF_PARTICLES = 300;

  for (let p = 0; p < NUM_OF_PARTICLES; p++) {
    const particle = new THREE.Mesh(smokeGeo, smokeMaterial)

    particle.position.set(
      Math.random() * 500 - 250, // X (de -250 a 250)
      Math.random() * 500 - 250, // Y (de -250 a 250)
      Math.random() * 1000 - 100 // Z (de -100 a 900)
    )
    particle.rotation.z = Math.random() * 360
    smokeParticles.push(particle)
  }
})

function resize () {
  w = window.innerWidth
  h = window.innerHeight
  camera.aspect = w / h
  camera.updateProjectionMatrix()
  renderer.setSize(w, h)
}

function animate() {
  requestAnimationFrame(animate)

smokeParticles.forEach(particle => {
  particle.rotation.z += 0.001
})

  renderer.render(scene, camera)
}

animate()
window.addEventListener("resize", resize)



</script>
